/**
  * Defaults
  */
  
  /**** Colors ****/
  $primary-color : #000;
  $secondary-color : #000;
  $tertiary-color : #000;
  $quaternary : #000;
  $quinary : #000;
  $senary : #000;
  $septenary : #000;
  $octonary : #000;
  $nonary : #000;
  $denary : #000;
  
  /**** Fonts ****/
  $font-size-pixel : 1.6;
  $font-size : $font-size-pixel + rem;
  