<!DOCTYPE html>
<html data-ng-app="app" data-ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="./public/css/style.css">
        <title>Boilerplate</title>
    </head>
    
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        
        <!-- wrapper -->
        <div class="wrapper">
            
            <header class="banner" role="banner">
                <h1 class="banner__site-title h1">MEAN Boilerplate</h1>
            </header>
            
        </div><!-- /wrapper -->
        
        <script src="./client/app.js"></script>
    </body>
</html>