<!DOCTYPE html>
<html data-ng-app="app" data-ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="./public/css/style.css">
        <title>Boilerplate</title>
    </head>
    
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        
        <!-- wrapper -->
        <div class="wrapper">
            
            <!-- banner -->
            <header class="banner" role="banner">
                <div class="banner__inner">
                    <h1 class="banner__site-title h1">Banner</h1>
                </div>
            </header><!-- /banner -->
            
            <!-- navigation -->
            <nav class="navigation" role="navigation">
                <div class="navigation__inner">
                    <ul class="navigation__menu">
                        <li><a href="#" title="">Link 1</a></li>
                        <li><a href="#" title="">Link 2</a></li>
                        <li><a href="#" title="">Link 3</a></li>
                        <li><a href="#" title="">Link 4</a></li>
                        <li><a href="#" title="">Link 5</a></li>
                    </ul>
                </div>  
            </nav><!-- /navigation -->
            
            <!-- content -->
            <div class="content">
                
                <!-- content-inner -->
                <div class="content__inner">
                    
                    <!-- main -->
                    <main class="main" role="main">
                        Main
                    </main><!-- /main -->
                    
                    <!-- complementary -->
                    <aside class="complementary" role="complementary">
                        Complementary
                    </aside><!-- /complementary -->
                
                </div><!-- /content-inner -->
                
            </div><!-- /content -->
            
            <!-- contentinfo -->
            <footer class="contentinfo" role="contentinfo">
                <div class="contentinfo__inner">
                    Contentinfo
                </div>
            </footer><!-- /contentinfo -->
            
        </div><!-- /wrapper -->
        
        <script src="./client/app.js"></script>
    </body>
</html>