<!DOCTYPE html>
<html data-ng-app="app" data-ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <base href="/">
        
        <link rel="stylesheet" href="./public/css/style.css">
        <title>Boilerplate</title>
    </head>
    
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        
        <!-- wrapper -->
        <div class="wrapper">
            <!-- banner -->
            <header class="banner" role="banner" ui-view="banner"></header><!-- /banner -->
            <!-- navigation -->
            <nav class="navigation" role="navigation" ui-view="navigation"></nav><!-- /navigation -->
            
            <!-- content -->
            <div class="content">
                
                <!-- content-inner -->
                <div class="content__inner">
                    
                    <!-- main -->
                    <main class="main" role="main" ui-view="main"></main><!-- /main -->
                    
                    <!-- complementary -->
                    <aside class="complementary" role="complementary" ui-view="complementary"></aside><!-- /complementary -->
                
                </div><!-- /content-inner -->
                
            </div><!-- /content -->
            
            <!-- contentinfo -->
            <footer class="contentinfo" role="contentinfo" ui-view="contentinfo"></footer><!-- /contentinfo -->
            
        </div><!-- /wrapper -->
        
        <script src="./client/app.js"></script>
    </body>
</html>